[submodule "model/FMS/Base-FMS"]
	path = model/FMS/Base-FMS
	url = git@github.com:Firmament-Autopilot/Base-FMS.git
[submodule "model/INS/Base-INS"]
	path = model/INS/Base-INS
	url = git@github.com:Firmament-Autopilot/Base-INS.git
[submodule "model/Controller/Base-Controller"]
	path = model/Controller/Base-Controller
	url = git@github.com:Firmament-Autopilot/Base-Controller.git
[submodule "model/Plant/MC-Plant"]
	path = model/Plant/MC-Plant
	url = git@github.com:Firmament-Autopilot/MC-Plant.git
